/*BASIC STYLESHEET LAYOUT FOR THE DICE THROWING PAGE*/

/*Setting the page color*/
body{

	background-color: rgb(200,20,200,20);
}


/*Defining a adjustable layout for main div through "margin: 0 auto" definito=ion*/
#main{

	margin: 0 auto;

	/*Defining container min-width in order to avoid content distortions in case of 
	  browser window contraction (Fluid Layout)
	*/

	min-width: 260px;

	width: 50%;
/*
	Here, for in-block visualization purposes, a thin border was used during the 
	fluid layout development for the container (since all other ids and classes
	are proportionally linked to it throughout text align: center, percentual width
	and auto margins)

	(border: 2px solid red;)
*/
	text-align: center;

}

/*Designing the Throw button - Proportional Layout (For the Full Browser Page only), Color, Cursor, Size and Text Content*/

#throwButton{
	border-radius: 10px;
	background-color: #f6f6f6;
	height: 64px;
	width: 128px;
	margin: 1em auto; 

    cursor: pointer;

	font-family: "Trebuchet-MS" sans-serif;


}

/*Setting a background color + color change once the cursor is on Throw Button*/

#throwButton:hover{
	background-color: black;
	color: #fff;
}
